<div class="container">
  <div class="header__title">
    <div class="row">
      <div class="col-xs-6">
        <h1>
          Managing claims
          <br />
          <span class="highlight">made easy</span>
        </h1>
        <h4>A simple claim manager for a simple life.</h4>


      </div>
      <div class="col-xs-6 offset-md-2">
        <img
          src="../../assets/img/undraw_product_iteration_kjok.svg"
          class="header__img"
          alt="svg image"
        />
      </div>
    </div>
  </div>

  <hr />

<footer class="footer">
  <ul class="footer__nav">
    <li class="footer__item">
      <a class="footer__link" href="#">About</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Pricing</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Terms of Use</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Privacy Policy</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Careers</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Blog</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Contact Us</a>
    </li>
  </ul>
  <div class="logo">
    <a routerLink="/home"
      ><img
        src="../../assets/img/aurora-dao.svg"
        class="brand-logo"
        alt="brand logo"
    /></a>
  </div>
  <p class="footer__copyright">&copy;All rights reserved.</p>
</footer>
